<!--导航开始 -->
<nav class="navbar navbar-default My-navbar" role="navigation">
    <div class="container">
        <!--手机导航显示 -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-ex1-collapse"><span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
        </div>
        <!-- 导航主体 -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-left" id="navcategory">

                <!--<% for(let i = 0; i < locals.categoryList.length; i++) { %>-->
                <!--<%if(locals.nownav==locals.categoryList[i].path){%>-->
                <!--<li class="active"><a href="<%= locals.categoryList[i].path %>"><%= locals.categoryList[i].name %></a>-->
                <!--</li>-->
                <!--<%}else{%>-->
                <!--<li><a href="<%= locals.categoryList[i].path %>"><%= locals.categoryList[i].name %></a>-->
                <!--</li>-->
                <!--<%}%>-->
                <!--<% } %>-->

            </ul>
            <!-- 发布按钮 -->
            <div class="Release-link navbar-right">
                <% if(locals.loginUser) { %>
                    <a href="/users/logout" class="btn btn-default btn-danger">登出</a>
                <% }else{ %>
                    <a href="/users/login" class="btn btn-default btn-danger"> 登录</a>
                <% } %>
            </div>
            <!-- 搜索 -->
            <form class="navbar-form navbar-right My-search" action="/" method="get">
                <div class="form-group">
                    <input class="form-control" placeholder="填写查询内容" type="text" name="key">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <!-- 发布按钮 -->
            <div class="Release-link navbar-right">
                <a href="/article/add" class="btn btn-default btn-danger"><span class="glyphicon glyphicon-plus"
                                                                                aria-hidden="true"></span> 发布文章</a>
            </div>
        </div>
    </div>
</nav>
<!--导航结束 -->